<app-nav></app-nav>

<mat-drawer-container class="app" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened> 
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="sidenav-content">
    <app-title-section title="New Uploads"></app-title-section>

    <div class="slideshow">
      <app-caroulsel></app-caroulsel>
    </div>

    <div *ngFor="let item of content">
      <app-title-section [title]="item.title"></app-title-section>
      <div class="content">
        <app-card *ngFor="let product of item.list" [product]="product"></app-card>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
