<mat-toolbar class="site-nav">
  <mat-form-field>
    <mat-icon color="accent">stop_circle</mat-icon>

    <input matInput type="text" />
  </mat-form-field>

  <span class="example-spacer"></span>

  <div class="nav-action">
    <button mat-button>Explore</button>
    <button mat-button>Events</button>

    <span class="notification">
      <mat-icon matBadge="15" matBadgeSize="small" matBadgeColor="warn">home</mat-icon>
    </span>

    <span class="wrap-button">
      <button mat-raised-button color="primary">
        <mat-icon>toll</mat-icon>Record
      </button>

      <button mat-raised-button color="accent">
        <mat-icon>album</mat-icon>Upload
      </button>
    </span>
  </div>
</mat-toolbar>
